* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
}
/* Header styles */
header {
    background-color: #70676768;
    padding: 10px 20px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    backdrop-filter: blur(5px);
    
}
.logo-part {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
}
.logo {
    height: 50px;
    width: 50px;
    background-color: rgb(51, 51, 51);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: solid ;
}

.navi {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin: 0;
    padding: 0;
    text-decoration: none;

}
.navigasi {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    padding: 7px;
    gap: 7px;
    color: rgb(255, 255, 255);
    font-size: 13px;
    border: solid 1px rgba(255, 255, 255, 0);
    transition: 0.5s;
    text-shadow: 0 0 10px black;
}
.navigasi:hover {
    background-color: rgb(42, 52, 157);
    transition: 0.5s;
    box-shadow: 0 0 10px 10px rgba(0, 98, 255, 0.2);
    border-radius: 100px;
    border: solid 1px rgb(255, 255, 255);
}
/* ---------Hero */
.hero {
    color: rgb(255, 255, 255);
    padding: 60px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    padding-top: 160px;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(32, 34, 36);
    background-size: cover;
    background-blend-mode:color-dodge;
    background-position: center;

}
.hero-image {
    width: 200px;
    height: 350px;
    background-size: cover;
    background-position: center;
    border-radius: 35px 400px;
    margin: 10px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.3);
}

/* isi styles */

    /* HOME------ */
.homeour-profl 
    {background-color: rgb(255, 255, 255);
}
.home-a{
    padding-top: 110px;
    font-size: 2vh;
    margin: 10px;
    height: auto;
}
.img-home {
    display: flex;
    justify-content: center;
    padding: 10px;
    
}

/* portofolio */
.porto1 {
    background-color: rgba(255, 255, 255, 0.788);
    padding: 20px;
    margin: 10px;
    height: auto;
    
}
.img9 {
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    width: 250px;
    height: 150px;
}
.kontain {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}
.kotak1 {
    display: flexbox;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 300px;
    height: 500px;
    background-image: linear-gradient(to right, #ff7e5f, #feb47b);
    padding: 30px;
    border-radius: 20px;
}
/* foms */

.formz {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    gap: 10px; 
    margin-top: 10px;

}
.pilihan{
    height: 30px;
    width: 300px;
    border-radius: 5px; 
    border: 1px solid #3e0707;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .listing{
        background-color: steelblue;
        border: solid rgb(255, 255, 255);
        color: white;
        border-radius: 30px;
        width: 50px;
    }
.formss {
    height: 200px;
    width: 300px;
    border-radius: 5px; 
    
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.msgg {
    display: flex;
    height: 30px;
    width: 300px;
    justify-content: center;
    align-items: center;

    border-radius: 5px; 
    border: 1px solid #ccc;
}
.tombl {
    border-radius: 5px; 
    height: 50px;
    width: 300px;
    border: none; 
    background-color: #007BFF; 
    color: white; 
    cursor: pointer;
}
.tombl:hover{
    background-color: #0056b3;
    transition: 0.5s;
}
/* footer */
.kontena {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    height: auto;
    align-items: center;
    gap: 30px;
}
.gear1 {
    background-color: rgba(255, 255, 255, 0.126);
    padding: 20px;
    margin: 10px;
    height: auto;
    width: 350px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
}
.op{
    gap: 20px;
    justify-content: space-evenly;
}